
html {
	font-size: 20px;
	font-family: 'Muli', sans-serif;
	text-align: center;
}

body {
	margin: 0 auto;
}

.logoblock {
	margin: auto;
	max-width: 120px;
}

.header {
	width: 100%;
	padding-top: 25px;
	background-color: silver;
	border-bottom: solid 1px grey;
	text-align: center;
}

.header li {
	display: inline;
	color: white;
}

.header a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0px 8px 0px; 
}

.header a:link {
	color: white;
}

.header a:visited {
	color: white;
}

.header a:hover {
	color: black;
}

.navbar {
	/* may not need, if not delete from html code*/
}

p {
	font-size: 40px;
	font-style: normal;
	font-weight: 100;
}

section {
	border-bottom: solid 1px grey;
}

.mainstage {
	max-width: 800px;
	margin: auto;
}